<span class="show-password">
<input type="checkbox" class="show-password-toggle">
Voir mon mot de passe
</span>
<script>
var showPasswordToggle = document.querySelector('.show-password-toggle');
var passwordFields = document.querySelectorAll('[type="password"]');
showPasswordToggle.addEventListener('change', function() {
for (var i = 0; i < passwordFields.length; i++) {
if (passwordFields[i].type === 'password') {
passwordFields[i].type = 'text';
} else {
passwordFields[i].type = 'password';
}
}
});
</script>