<style>
  @media only screen and (min-width: 1100px){
  .delivry{
    text-align:right;
    margin-right:10px;
    font-weight:800;
    color:red;
  }
    }
  @media only screen and (max-width: 800px){
    .delivry{
    text-align:center;
    font-weight:800;
    color:red;}
</style>

<script>
var onMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
  window.navigator.userAgent
);
if (onMobile) {
  window.location = '{{ request.path | replace: "?view=mczrmobile", "" | append:'?view=mczrmobile' }}';
}
</script>
{% include 'mczr' %}
 
{% comment %}
  You can add or include some content in this page.
{% endcomment %}

<div id="mczrLoader" style="text-align: center;">
</div>
 <p class="delivry">Attention : le délai de fabrication de ce modèle est de 1 mois à compter de la date de commande</p>

